@model EntityLayer.Concrete.Skill


@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Düzenleme Sayfası</h3>
</div>

@using(Html.BeginForm("EditSkill","Skill",FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Yetenek Düzenleme</p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        <input asp-for="SkillID" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Değer</label>
                        <input asp-for="Value" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button type="button" class="btn btn-dark">İptal</button>
                </form>

            </div>
        </div>
    </div>
}

